@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    color: #ffe4b4;
    box-sizing: border-box;
    font-family: 'EB Garamond', sans-serif;
    scroll-behavior: smooth;
}

body{
    background: url("bg1.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.header{
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1vw 3vw; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
} 
.logo{
    font-size: 2.4vw;
    margin-left:2vw;
    font-weight: 600;
    text-decoration: none;
}
.lo img{
    width: 3.5vw;
    height: 3.5vw;
}
.lo{ 
    height:100%;
    width:15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar a{
    font-size: 3vw;
    text-decoration: none;
    font-weight: 500;
    border-radius: 10px;
    padding: 2vw;
    transition: 0.5s;
}

.navbar a:hover{
    background-color: #0e0e2d; 
}

.home{
    height: 7in;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.homect{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    height: 100%;
}

.bg{
  position: absolute;
  width: 6in;
  height: 6in;
  background: url('1.png') no-repeat;
  background-size: contain;
  background-position: center center;
  animation: spin 4s linear infinite;
}
.homect div h1{
    position: relative;
    font-size: 0.7in;
    font-weight: 700;
    line-height: 1.2;
    font-family: "Cinzel", serif;
    font-style: normal;
}

.btn-box{
    display: flex;
    justify-content: center;
    width:100%;
    height:10%;
}

.btn-box a{
    position: relative;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 1in;
    height: 0.35in;
    background:#f5d300;
    border-radius: 7px;
    font-size: 19px;
    text-decoration: none;
    z-index: 1;
    font-weight: 500;
    color: black;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    border-radius: 6px;
    height:100%;
    z-index: -1;
    background: #eaa507;
    transition: 0.5s;
    overflow: hidden;
}

.btn-box a:hover::before{
    width: 100%;
}

section{
    padding: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 45%;

}
.abt{
    height:auto;
}
.me h1, .contact h1{
    color: #ff2079;
    font-weight: 900;
    margin-top: 1vh;
    font-size: 4vw;
    padding-bottom:3vh;
}
.me{
    padding-bottom:4vh;
    padding-top:1vh;
}
.me p{
    font-size: 1.8vw;
    color: white;
}
.dec{
    width: 45vw;
    height:25vw;
    background: url(dec.png) no-repeat;
    background-position: center center;
    background-size: contain;
}
hr{
    margin-left:auto;
    margin-right:auto;
    border-color: #ffe4b4;
    width: 90vw;
    margin-top:1%;
}
.project{
    display: flex;
    margin-top:3vh;
    justify-content: center;
    height:50vw;
    align-items: flex-start;
}
.proj{
    width:100%;
    height: 100%;
    position: relative;
    padding-left: 5vw;
    padding-right: 5vw;
}
.proj h1{
    color:white;
    font-weight: 900;
    margin-bottom: 1%;
    font-size: 4vw;
    padding-bottom:3%;
}
.card{
    height: 29vw;
    width: 17.5vw;
    margin-top:5%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.m1, .m2, .n1, .n2{
    width:100%;
    height:100%;
    position: absolute;
    backface-visibility: hidden;
}

.m1, .m2{
    background: url("front.jpg") no-repeat;
    background-size: cover;
}
.n1,.n2{
    margin-right:4%;
    transform: rotateY(180deg);
    background: url("front2.jpg") no-repeat;
    display: flex;
    flex-direction: column;
    background-size: cover;
    justify-content: space-between;
    background-position: center center;
}
.headn, .bodyn{
    display: flex;
    align-items: center;
    justify-content: center;

}
.headn{
    height: 35%;
    padding-left: 1.8%;
}
.bodyn{
    height:35%;
    padding-left: 15%;
    padding-right: 13%;
    font-size: 1vw;
}
.n1 p, .n2 p{
    color:black;
}
h3{
    color:black;
    font-weight: 900;
    font-size: 2.4vw;
}

.cont1{
    height: 40vw;
    display: flex;
    justify-content:center;
    align-items: center;
}

.p11, .p22{
    display: flex;
    flex-direction: column;
    width:50%;
    height:100%;
    align-items: center;
    position: relative;
}


.pro1:hover + .card{
    transform: rotateY(180deg);
    transform-origin: center;
}
.pro2:hover + .card{
    transform: rotateY(180deg);
    transform-origin: center;
}

.pro1{
    display: flex;
    background: url('https://d33wubrfki0l68.cloudfront.net/img/d6052ce9346c2ad7f770968b708a599937b8f76c/services-socialmedia-bg..jpg') no-repeat;
    height:27%;
    justify-content: center;
    width:85%;
    border-radius: 12px;
    background-position: center center;
    background-size: cover;
    align-items: center;
    
}
.pro2{
    display: flex;
    background: url('https://d33wubrfki0l68.cloudfront.net/img/f891adf4313b85e780ee7767baf7ab1521cedf4b/services-digital-bg..jpg') no-repeat;
    height:27%;
    justify-content: center;
    width:85%;
    border-radius: 12px;
    background-position: center center;
    background-size: cover;
    align-items: center;
}
.bor{
    padding:2%;
    display:flex;
    width:95%;
    height:90%;
 
}

.text{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
    padding-top:5%;
    padding-bottom:5%;
    font-weight: 400;
    font-size: 3.6vw;
    color:white;
}
.contact{
    height:90%;
    width:100%;
}
.contact h1{
    color:white;
    margin-top: 2%;
}
.con{
    width:100%;
}
.con input, textarea{
    background:#0e0e2d;
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    font-weight: 550;
}
.con input{
    width:24.2vw;
}
#nm{
    margin-right:6.5vw;
    margin-left: 17vw;
}
.comm{
    width:100%;
    height:70%;
    display:flex;
    justify-content: center;
}
.comment{
    margin-top:2%;
    width:55vw;
    height:15vw;
}
.send{
    margin:3% 0 3%;
    height:30%;
}
.chk{
    height:auto;
}
.end{
    display: flex;
    justify-content: center;
    align-items: center ;
    width:100%;
    background: transparent;
    height:10%;
}
.hello{
    color:white;
}
body::-webkit-scrollbar {
    width: 12px;              
}
body::-webkit-scrollbar-track {
    background: #263a5b;
}  
body::-webkit-scrollbar-thumb {
    background-color:#0e0e2d;   
    border-radius: 20px;        
}
@media (max-width:780px){
    .bg{
        width:80vw;
        height:80vw;
        background-size: contain;
      }
      .homect div h1{
        font-size: 9.5vw;
    }
    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
