@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0a0e27;
}

.container{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.terminal{
    font-family: "Inter", sans-serif;
    border: 2px solid #03b614;
    height: 28rem;
    width: 44rem;
    border-radius: 10px;
}

.top-bar{
    height: 8%;
    width: 100%;
    border-bottom: 2px solid #03b614;
    display: flex;
    align-items: center;
}

.circle {
    margin-left: 0.64rem;
    width: 11px;
    height: 11px;
    border-radius: 50%;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.top-bar-text{
    letter-spacing: 0.1rem;
    margin-left: 1rem;
    font-size: 0.8rem;
    color: #808080;
}

.terminal-body{
    font-family: "VT323", monospace;
    font-size: 1.2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.terminal-body > * {
    margin-bottom: 0.5rem;
}

.welcome{
    color: #03b614;
}

.name{
    color: #fff351
}

.instruction{
    color: #808080;
}

.text-b{
    padding: 1rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: #808080;
    opacity: 0.7;
    text-align: center;
}

.container.section{
    justify-content: start;
    transition: background-color 0.3s ease;
}

.container.section.visible{
    background-color: #0f1435;
}

.title{
    margin-top: 4rem;
    color :#03b614;
}

.char{
    color:#808080;
    opacity: 0.7;
    margin-right: 0.5rem;
}

.about-body{
    margin: 2rem;
    width: 44rem;
}

.about-body > *{
    margin-bottom: 2rem;
}

.cat{
    color:#03b614;
}

.about-text{
    color: white;
    opacity: 0.8;
}

.project-card{
    border: 2px solid #03b614;
    background-color: #0a0e27;
    width: 44rem;
    height: 8rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}

.project-title{
    color:#03b614;
}

.project-desc{
    color: white;
    opacity: 0.8;
}

.project-link{
    background-color: #03b614;
    width: fit-content;
    padding: 0.2em 0.4em;
    border-radius: 4px;
}

.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color:white;
    opacity: 0.8;
    width: 44rem;
}

.tech-stack{
    display: flex;
    justify-content: start;
}

.list-all{
    width: 50%;
}

li {
  margin: 0.6rem 0;
}

pre {
  line-height: 1.6;
}

.contact-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-cat{
    width: 34rem;
}

.contact{
    width: 30rem;
    padding: 2rem;
    padding-bottom: 3.4rem;
}

.final{
    color:white;
    opacity: 0.6;
    font-size: 0.8rem;
}